/* Body */

*:focus {
    outline: none; /*Removes focus outline*/
}

.wrapper {
    background: rgb(10, 10, 10);
    color: white;
    font-family: SSPLt;
}

/* Nav */

nav {
    background: #B89300;
}

/* For Smaller Devices: */

.mainMenu {
    display: block;
}

.dropDown {
    display: none;
}

/* END */

nav h1 {
    margin: 15px 0px;
    padding: 5px 15px;
    border-radius: 10px;
    background: #7A6200;
    font-family: SSPLtIt;
    font-size: 30px;
    text-align: center;
}


nav ul {
    margin-top: 20px;
    padding: 0px;
    list-style-type: none;
}

nav li {
    padding: 0px 20px;
    display: inline;
}

nav a {
    color: white;
    font-size: 23px
}

nav a:hover {
    color: white;
}

nav .search {
    margin-top: 15px;
    border-radius: 50px;
    border: 2px solid #7A6200;
    background: white;
}

nav input {
    padding: 10px;
    background: transparent;
    color: black;
    border: none;
}

nav input::placeholder {
    color: black;
    font-size: 18px;
}

nav .fas {
    padding-top: 10px;
    padding-right: 20px;
    color: black;
    font-size: 20px;
    float: right;
}

.bar {
    margin: 0px;
    border: 3px solid #7A6200;
}

/* Hero */

.hero h1 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 50px;
    font-family: SSPLtIt;
    text-align: center;
    text-decoration: underline;
}

.slider {
    height: 500px;
    width: 100%;
    overflow-y: hidden;
}

.hero img {
    height: inherit; /*Fit imgs in slider*/
    width: 100%;
}

/* The Slider (CSS Part) */

.fading {
    animation-name: fade-in;
    animation-duration: 2.99s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0
}

.hero ul {
    margin: 20px 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
}

.hero li {
    display: inline;
}

.hero button {
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 50%;
    background: #E4BE25;
}

.hero button:hover {
    background: #7A6200;
}

/* First Main */

/* Ribbons and Middle Text */
.ribbon {
    width: 356px;
    padding: 11px;
    background: #B89300;
    font-size: 25px;
    text-align: center;
    z-index: 1;
}

.ribbonB { /*For Outer Ribbon*/
    float: right
}

.ribbon a {
    color: white;
}

/* --For Both Triangles*/

.triangle {
    position: absolute;
    border: 31px solid transparent;
    border-top: 27px solid #B89300;
    border-bottom: 30px solid #B89300;
    z-index: 0;
}

/* For Each Triangle */
/* --Left Triangle */

.triangleA {
    left: 372px;
}

/*--Right Triangle */

.triangleB {
    right: 372px;
}

.middleTextBar {
    width: 400px;
}

.middleText {
    margin: 0px;
    padding: 6px 0px;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

/* Main Info */

.mainTitleA {
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
}

.mainTitleA h1 {
    font-size: 40px;
    text-decoration: underline;
}

.mainA {
    position: relative;
}

.mainA button {
    position: absolute;
    height: 150px;
    width: 40px;
    top: 40%;
    border: none;
    background: #E4BE25;
    color: black;
    font-size: 30px;
}

.mainA .buttonLt {
    padding-left: 0px;
    padding-right: 10px;
    left: -4%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.mainA .buttonRt {
    padding-right: 0px;
    padding-left: 10px;
    right: -4%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}   

.mainA img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.mainA h3 {
    padding: 10px;
    background: #B89300;
    font-style: italic;
    text-align: center;
}

.mainA p {
    padding: 30px 20px;
    background: #2B2A26;
    font-size: 18px;
}

.mainA .infoFour {
    display: none;
}

/* BDB */

.bdb {
    margin-top: 60px;
    margin-bottom: 80px;
    background: #B89300;
    border-radius: 50px;
    font-size: 35px;
    text-align: center;
}

.bdb button {
    background: none;
    border: none;
}

.bdb button:hover {
    text-decoration: underline;
}

.bdb button h2 {
    margin: 0px;
    padding: 20px 0px;
}

/* Second Main */

.mainB {
    margin-bottom: 100px;
}

.mainB h3 {
    padding: 10px 0px;
    padding-left: 5px;
    font-size: 30px;
    font-family: SSPLtIt;
    text-decoration: underline;
}

.mainB p {
    font-size: 16px;
}

.mainB .box {
    background: #2B2A26;
}

/* --for Second Main Left Image */
.LtImg {
    padding-left: 0px;
}

/* for Second Main Left Text */
.LtTxt {
    padding-right: 10px;
}

/* --for Second Main Right Image */
.RtImg {
    padding-right: 0px;
}

/* --for Second Main Right Text */
.RtImg {
    padding-left: 20px;
}

.mainB img {
    height: 300px;
    width: 100%;
    display: inline-block;
}

.mainB .slotB {
    text-align: right;
}

.mainB .slotB img{
    float: right;
}

/* Footer */

footer {
    background: #B89300;
    font-size: 16px;
}

footer .padding {
    padding-top: 70px;
    padding-bottom: 90px;
}

footer ul {
    padding: 0px;
    list-style-type: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

footer .fab {
    width: 20px;
    padding-right: 15px;
}

footer input {
    margin-top: 10px;
    padding: 5px 15px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

footer input::placeholder {
    color: white;
    font-size: 12px;
}

footer .submitBtn {
    padding: 9px;
    border-radius: 10px;
    background: white;
    color: black;
}

footer .submitBtn:hover {
    background: black;
    color: white;
    text-decoration: none;
}

/* keynotes */

@keyframes fade-in {
    100% {
        opacity: 1
    }
}

/* Media Queries */

@media (min-width: 425px) and (max-width: 767px) {

    /* Nav Section */

    nav li {
        padding: 0px 13px;
    }

    nav h1 {
        padding: 6px 15px;
        font-size: 20px;
    }

    nav a {
        font-size: 23px;
    }

    nav .fas { /*For DropDown*/
        padding-top: 10px;
        padding-right: 0px;
    }

    .mainMenu { /* Doesnt Show on small Devices */
        display: none;
    }
    
    /* Dropdown */

    .dropDown {
        display: block;
    }

    .dropBtn {
        padding: 0px;
        border: none;
        background: none;
    }

    .dropBtn .fas {
        padding: 16px 0px;
        color: white;
        font-size: 30px;
    }
    
    .dropDown-content {
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
        display: none;
    }
    
    .dropDown-content a {
        padding: 12px 16px;
        color: black;
        text-decoration: none;
        display: block;
    }
    
    .dropDown:active .dropdown-content {
        display: block;
    }

    nav .search { /*Doesnt show on small devices*/
        display: none;
    }

    /* hero Section */

    .slider {
        height: 300px;
    }

    .hero h1 {
        padding-top: 10px;
        font-size: 45px;
    }

    .hero button {
        display: none;
    }

    /* Ribbon and MiddleText */

    .ribbon {
        padding: 15px;
        width: 100%;
    }

    .adjust {
        margin-top: 20px; /*Stop the buttons from sticking to each other*/
        margin-bottom: 30px;
    }

    .triangle {
        display: none;
    }

    .middleTextBar {
        display: none;
    }

    /* First Main Section */

    .mainTitleA {
        padding: 10px 20px;
    }

    .mainA h3 {
        margin-top: 5px;
        padding: 10px;
        border-radius: 10px;
    }

    .mainA p {
        display: none;
    }

    .dishes { /* spacing for special dishes*/
        padding: 15px;
    }

    .buttonLt {
        display: none;
    }

    .buttonRt {
        display: none;
    }

    .mainA .infoThree {
        display: none;
    }

    .mainA .infoFour {
        display: none;
    }

    /* Big Dumb Button */

    .bdb {
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 0px;
        border: 2px solid white;
        border-radius: 10px;
        background: transparent;
    }

    .bdb:hover {
        background: #B89300;
    }

    /* Second Main Section */ 

    .mainB {
        display: none;
    }

    /* Footer */

    footer {
        text-align: center;
        font-size: 20px;
    }

    footer .padding {
        padding: 0px;
    }

    footer ul {
       padding-top: 30px;
    }

    footer li {
       padding: 0px 10px;
       display: inline;
    }

    footer .fab {
        margin-top: 5px;
        margin-bottom: 30px;
        padding: 0px 30px;
        text-align: left;
    }

    footer span { /*Shows icons only*/
        display: none;
    }

    footer .infoThree {
        display: none;
    }

    footer .infoFour { /*Resturant Location*/
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

    /* Nav Section */

    nav h1 {
        font-size: 25px;
    }

    nav li {
        padding-left: 0px;
    }

    nav input {
        padding: 3px;
        width: 80%;
    }

    nav a {
        font-size: 20px;
    }

    .mainMenu { /* Doesnt Show on mid and up Devices */
        display: block;
    }
    
    .dropDown {
        display: none;
    }

    nav .search {
        margin: 13px 0px;
        padding: 10px;
        display: block;
    }

    nav .fas {
        display: none;
    }

    /* Ribbion and Middle Text */

    .middleTextBar {
        display: none;
    }

    .triangle {
        display: none;
    }

    /* First Main Section */

    .mainA button {
        display: block;
    }

    .mainA .buttonLt {
        padding-right: 0px;
    }

    .mainA .buttonRt {
        padding-left: 0px;
    }

    .mainA .infoOne p {
        display: block;
    }
    .mainA .infoTwo p {
        display: block;
    }

    .mainA .infoThree {
        display: none;
    }

    .mainA .infoFour {
        display: none;
    }
    /* Section Main Section */

    .mainB .slotA h3 {
        margin-top: 20%;
    }

    .mainB .slotB h3 {
        margin-top: 50%;
    }

    .mainB .slotB {
        margin-top: 50px;
    }

    /* Big Dumb Button */

    .bdb {
        border-radius: 50px;
        background: #B89300;
    }

    /* Footer */

    footer .infoThree {
        margin-top: 25px;
    }

    footer .infoFour {
        margin-top: 25px;
    }
}